body {
    display: flex;
    margin: 0;
    flex-direction: column;
    flex: 1;
}

.container-1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 150px;
    padding-top: 18px;
    flex: 1;
}

.logo {
    display: inherit;
    font-size: 24px;
    color: #F0FAF8;
    margin: 0;
    flex: 1;
}

.header {
    display: flex;
    margin-bottom: 5%;
    flex: 1;
    margin-left: 20%;
    margin-right: 20%;
}

ul {
    display: inherit;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    flex: 1;
}

ul li {
    display: inherit;
    list-style-type: none;
    margin-left: 2px;
    flex: 1;
    font-size: 18px;
    color: #E5E7EB
}

.content {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    flex: 1;
}

.title {
    display: inherit;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
    margin-right: 50px;
    margin-bottom: 10px;
    flex: 1;
}

.description {
    display: inherit;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    margin-right: 50px;
    margin-bottom: 10px;
}

.github {
    display: inherit;
    height: 36px;
    width: 36px;
}

.avatar {
    display: inherit;
    height: 400px;
    width: 600px;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

.project-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-left: auto;
    margin-right: auto;
}

.project-container {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    text-align: center;
}

.project {
    display: inherit;
    text-align: center;
    padding: 100px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 50px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 200px;
    background-color: #E5E7EB;
}

.quote {
    display: inherit;
    font-style: italic;
    font-size: 48px;
}

.author {
    display: inherit;
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

.advert {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    margin: 200px;
    color: black;
    padding: 50px;
    border-radius: 5px;
    justify-content: space-around;
    flex: 1;
}

.call-to-action {
    color: white;
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 0;
}

.container-text {
    color: white;
    font-size: 20px;
    margin-top: 0;
}

.button {
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    background-color: #3882F6;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
}

.container-3 {
    background-color: #1F2937;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding: 20px;
    color: white;
}